/* div{
	background: gray;
	width: 140px;
	height: 80px;
	padding: 30px;
	border: 10px solid #111;
	margin: 30px;
}
body {
	margin: 0;
}
h1{
	background: #84e;
	padding: 20px; 
	border: 4px solid #111;
	margin: 40px;
	width: 200px;
} */
/* h1{
	background: #ddd;
	width: 300px;
} */
h1, p, div  {
  border: 1px solid rgba(255, 0, 0, 0.5);
}
span, a, strong{
	border: 1px solid rgba(0, 0, 0, 0.5);
}
a{
	padding: 20px;
	display: inline-block;
	margin: 10px;
}